/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-mar-2016, 8.34.51
    Author     : luca
*/

/*Importo i web fonts*/
/*font-family: 'Segment7Standard';*/
@import url(https://fontlibrary.org/face/segment7);
/*font-family: 'Teleindicadores1Regular';*/
@import url(https://fontlibrary.org/face/teleindicadores-1);
/*font-family: 'Ubuntu', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300,300italic,400italic,500italic,700italic);
/*font-family: jacky*/
@import "fonts/jacky.fnt.css";
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: Montserrat,Serif;
    font-size: 12px;
    /* background-color: #BFDDFB; */
    background: #EAFAFF url('img/sfondo.png') repeat-x;
    border-top: 3px solid #85B0E4;
    margin: 0px;
    text-align: center;
}

#topbar{
    display:table;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    height: 39px;
    width: 100%;
    border-top: 3px solid #85B0E4;
    border-bottom: 1px solid #00A3D9;
    
 }
 
.page{
    margin: auto;
    margin-top: 40px;
    /*height: 3000px;*/
    border: solid #ccc 1px;
    border-top: none;
    background-color: #ffffff;
    padding-bottom: 5px;
}

header{
    text-align: left;
}

nav{
    background-color: #fff;
    border-bottom: 1px solid #6699ff;
    border-top: 1px solid #ddd;
    height: 33px;
}

#logo{
    padding:5px;
    padding-left:10px;
}

/* 
    elementi di design
*/
#clock{
    font-family: 'Teleindicadores1Regular';
    font-size:15px;
    font-weight: normal; 
    font-style: normal; 
    vertical-align: middle;
}

article header{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0px;
}

.small {
    font-size: 8pt;
}


/*
    elementi della topbar
*/
#topbar .minilogo{
    display:table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
    width: 144px;
    border-right: 1px solid #eeeeee ;
}

#topbar .content{
    display:table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
}

#topbar img{
    vertical-align: middle;
}


/*
    elementi della top nav
*/

#topnav{
    height: 31px;
    margin-bottom: 5px;
    vertical-align: middle;
    color: #ff9900;
    /*background-color: #BFEFFF;*/
}

#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

#topnav li {
    float: left;
    /*border-right: 1px dotted #6699ff;*/
}

#topnav li:last-child {
    border-right: none;
    border-left: 1px dotted #6699ff;
}

#topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

#topnav li a:hover {
    background-color: #BFEFFF;
    border-bottom: 2px solid #6699ff;
}

#topnav .active {
    background-color: #DFEFF4;
    font-weight: bold;
    border-bottom: 2px solid #6699ff;
}


/*
    elementi della pagina
*/
#page .coll1{
    /*border-right: 1px dotted #6699ff;*/
    padding: 5px;
}

#page .coll2{
    border-left: 1px dotted #6699ff;
}

#page .coll2 .row1{
    border-bottom: 1px dotted #6699ff;
    padding: 5px;    
}

#page .coll2 .row2{
    height: 100%;
}

#page .coll2 .row2 aside{
    border-left: 1px dotted #6699ff;    
}

/*
    elementi del footer
*/
footer #info{
    border: 1px solid #ff9900;
    border-radius: 15px;
    padding: 0px;
    height: 226px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
}

footer #info .organizzation{
    text-align: center;
    height: 226px;
 }
 
footer #info .sitemap{
    border-left: 1px dotted #ff9900 ;
    height: 226px;  
}
 
footer #stats{
    border: 1px solid #aaa;
    border-radius: 10px;
    height: 28px;
    font-size:8pt;
    color: #3366FF;
    font-family: jacky;
    font-weight: bold; 
    margin: 5px;
    margin-bottom: 8px;    
}

footer #stats .cell{
    height: 18px;
}

footer #stats img{
    vertical-align: middle;
}

.icon{
    margin-left: 60px;
    margin-right: 5px;
}

footer #tecnologies{
    border-top: 1px solid #6699ff;
    border-bottom: 1px solid #6699ff;
    height: 32px;
    margin-bottom: 5px;
    color: #ff9900;
}

footer #copy{
   text-align: left;
   color: #666;
   font-size: 11px;
   line-height: 15px;
   padding-left: 5px;
}

footer #copy .credits .credits_tools{color: #ff9900;}

footer #copy .credits a:link{
    color: #6699ff;
    text-decoration:none;
}

footer #copy .credits a:visited{ 
    text-decoration:line-through;
    color: #6699ff;
}

footer #copy .credits a:hover { 
    font-weight:bold;text-decoration:underline;
    color: #6699ff;
}

footer #copy .credits a:active { 
    font-weight:bold;text-transform: uppercase;
    color: #6699ff;
}

footer #copy .stats{
     border-left: 1px dotted #6699ff;
    text-align: center;
    vertical-align: middle;
}

footer #copy .stats img {
    vertical-align: middle;
}

footer #tecnologies img{
    vertical-align: middle;
}

/* 
    Tipografy 
*/

/* Generic */
h1{
    margin:0px;
    padding:0px;
}

.center{
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.testo_notizia{
    text-align: justify;
}